
@keyframes animacao {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: -400%; }
}

.galery {
    width: 640px;
    height: 360px;
    overflow: hidden;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;
}