@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
    font-family: "Questrial", sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #c2185b;
}

.btn-primary {
    background-color: #c2185b;
    border-color: #c2185b;
}

main.login {
    width: 400px;
}

section.full {
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul {
    list-style: none;
    display: flex;
}

footer nav ul li {
    padding: 10px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    display: flex;
    align-items: center;
}

.botoes {
    align-items: center;
    justify-content: space-around;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.buttonCancelar {
    background: #fff;
    margin-top: 5px;
    padding: 5px 10px;
    border: 2px solid rgb(211, 210, 210);
    border-radius: 3px;
}

.buttonCancelar:hover {
    background: rgba(11, 94, 215);
    border: 2px solid rgba(11, 94, 215);
    color: #fff;
}


/* Responsividade mobile */
@media (max-width:1000px){
    #colunaImagem{
        display: none
    }
    #colunaASoundGarden{
        display:flex;
        flex-direction: column;
        justify-content:center;
    };
    #cardLP{
        padding: 2rem !important;
        width: 650px !important;
    }
    #eventos{
        padding: 2rem !important;
        max-width: 1000px !important;
        display: flex;
        flex-direction: column;
        content: none !important;
    }; 
    .botoesGerenciar{
        display: flex !important;
        flex-direction: column !important; 
        justify-content: center !important;
        }
        #remove{
            width: 100% !important;
            min-height: 0 !important;
        }
        #imagemPainel{
            max-width: 30% !important;

        }
        #divImagem{
            display: flex !important;
            justify-content: center !important;
        }
        #divSvg{
            display: none !important;
        }
        #listagemGerenciar{
                display: flex;
                justify-content: center;
        }
}

@media (max-width: 450px){
    #parteDeBaixo{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    #navFooter{
        display: flex !important;
        padding: 0px !important;
    }
    img{
        width: 300px !important;
    }
    #imagemPainel{
        max-width: 83% !important;
    }
    #remove{
        width: 100% !important;
        min-height: 0 !important;
    }
    #divMain{
        padding: 10px !important;
    }
    /* #listaGerenciar{
        display: flex !important;
        flex-direction: column !important;
    } */
    .listaDisplayNone{
        display: none !important;

    }
    .displayRemove{
        display: none !important;
    }
    #listagemGerenciar{
            display: flex;
            justify-content: center;        
    }
    }
@media (max-width: 800px){
    .listaDisplayNone{
        display: none !important;

    }
}
@media (max-width: 800px){
    #remove{
        width: 100% !important;
        min-height: 0 !important;
    }
    .displayRemove{
        display: none !important;
    }
}
@media (max-width: 950px){
    #remove{
        width: 100% !important;
        min-height: 0 !important;
    }
    .displayRemove{
        display: none !important;
    }
    .listaDisplayNone{
        display: none !important;

    }
}